* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Crimson Text', serif;
	background-color: #DFDFDF;
	color: #202020;
}

a {
	color: #7398ff;
	text-decoration: none;
}



#title {
	margin-top: 5px;
	margin-bottom: 15px;
	width: 100%;
}

div#title-img {
	position: relative;
	width: 100%;
}

@media (aspect-ratio > 1/1) {
    /* Viewport is wider than tall (landscape) */
    div#title-img {
        content: url("img/header-cropped-horiz.jpg");
    }
}

@media (aspect-ratio <= 1/1) {
    /* Viewport is taller than wide (portrait) */
    div#title-img {
        content: url("img/header-cropped-vertical.jpg");
    }
}

div#title-name {
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
	font-variant: small-caps;
	font-size: 80px;
	background-color: rgba(0, 0, 0, 0.3);
	color: #DFDFDF;
	padding-top: 20px;
	padding-bottom: 20px;
}

.white-border {
	box-sizing: border-box;
	border: 4px solid #DFDFDF;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 50px;
}


img.headshot {
	display: block;
	position: relative;
	float: left;
	margin-top: -80px;
	margin-bottom: 10px;
	margin-right: 15px;

	box-sizing: border-box;
	border: 4px solid #DFDFDF;
}

.main-text {
	margin-left: 20px;
	margin-right: 5px;
	margin-top: 20px;
}

p {
	font-family: 'Crimson Text', serif;
	line-height: 1.2em;
	font-size: 16pt;
	
	margin-bottom: 8pt;
}


.playlist-container {
	float: right;
	margin-right: 5px;
	margin-left: 20px;
	max-width: 420px;
}

@media (aspect-ratio > 1/1) {
    .text-before {
        display: none;
    }
	.text-after {
		display: block;
	}
}

@media (aspect-ratio <= 1/1) {
    .text-before {
        display: block;
    }
	.text-after {
		display: none;
	}
	.playlist-container {
		float: none;
	}
}

ul#playlist {
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	color: #b2b2b2;
	background-color: #444;
	padding-left: 25px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-top: 2px;
	margin-bottom: 15px;
	line-height: 1.35em;
}

ul#playlist a {
	color: #b2b2b2;
	text-decoration: none;
}

ul#playlist li.playing a {
	color: #FFF;
}

ul#playlist li.playing:before {
	content: '▶';
	line-height: 16px;
	position: absolute;
	left: -15px;
	top: 11px;
	color: #FFF;
	font-size: 12px;
}

ul#playlist ol li.playing:before {
	left: -40px;
	top: 2px;
}

ul#playlist li {
	list-style-type: none;
	position: relative;
}

ul#playlist > li {
	padding-top: 8px;
}

ul#playlist div {
	padding-top: 8px;
}

ul#playlist ol {
	margin-left: 4em;
}

ul#playlist ol li {
	list-style-type: upper-roman;
}
