* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Georgia;
	background-color: #202020;
	color: #DFDFDF;
	max-width: 1000px;
}

a {
	color: #b5c9ff;
	text-decoration: none;
}



#title {
	margin-top: 5px;
	margin-bottom: 15px;
	width: 100%;
	max-width: 900px;
}

div#title-div {
	position: relative
}

.white-border {
	box-sizing: border-box;
	border: 4px solid #DFDFDF;
}

img.headshot {
	position: absolute;
	left: 60px;
	bottom: 10px;
	display: none;
}

img.headshot2 {
	display: block;
	float: left;
	margin: 5px;

	box-sizing: border-box;
	border: 4px solid #DFDFDF;
}

.container {
	float: left;
	padding-bottom: 50px;
}

.left {
	float:left;
	max-width: 450px;
	margin-left: 5px;
	margin-right: 5px;
}

.right {
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	max-width: 420px;
}

p {
	font-family: 'Crimson Text', serif;
	line-height: 1.2em;
	font-size: 13pt;
	
	margin-bottom: 8pt;
}



ul#playlist {
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: #888;
	background-color: #444;
	padding-left: 25px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-top: 2px;
	margin-bottom: 15px;
	line-height: 1.2em;
}

ul#playlist a {
	color: #888;
	text-decoration: none;
}

ul#playlist li.playing a {
	color: #FFF;
}

ul#playlist li.playing:before {
	content: '>';
	line-height: 14px;
	position: absolute;
	left: -15px;
	top: 11px;
	color: #FFF;
	font-size: 13px;
}

ul#playlist ol li.playing:before {
	left: -40px;
	top: 2px;
}

ul#playlist li {
	list-style-type: none;
	position: relative;
}

ul#playlist > li {
	padding-top: 8px;
}

ul#playlist div {
	padding-top: 8px;
}

ul#playlist ol {
	margin-left: 4em;
}

ul#playlist ol li {
	list-style-type: upper-roman;
}




@media screen and (min-width: 941px) {
	img.headshot {
		display: block;
	}

	img.headshot2 {
		display: none;
	}
}


@media screen and (min-width: 460px) {
	img.headshot2 {
		margin-left: 10px;
		margin-right: 10px;

	}

	.left {
		margin-left: 30px;
	}

	.right {
		margin-left: 30px;
	}

	ul#playlist {
		font-size: 12pt;
		line-height: 1.35em;
	}

	p {
		font-size: 16pt;
	}
}